@font-face {
    font-family: "Aladin";
    src        : url("Aladin-Regular.ttf");
}

.formSearch {
    text-align  : center;
    display     : inline-flex;
    width       : 80%;
    margin-left : 10%;
    margin-right: 10%;
    margin-top  : 5px;
}


.searchBar {
    width                    : 90%;
    font-size                : 200%;
    border-top-left-radius   : 5px;
    border-bottom-left-radius: 5px;
    border                   : none;
    text-align               : center;
}

.searchBtn,
.sub {
    text-align                : center;
    background-color          : tomato;
    width                     : 10%;
    border-top-right-radius   : 5px;
    border-bottom-right-radius: 5px;
    font-size                 : 200%;
    border                    : none;
}

.searchBtn:hover {
    cursor          : pointer;
    background-color: black;
    color           : tomato;
}

/* .newMsg {
    display         : inline flex;
    background-color: grey;
    width           : 100%;
    height          : 90%;
    position        : relative;

} */

/* .newMsg form {
    width   : 100%;
    position: fixed;
    bottom  : 0;
} */


/* .newMsg .writeBox {
    min-width: 90%;
} */

/* .newMsg .submit {
    min-width  : 10%;
    margin-left: 90%;
} */

body {
    margin: 0;
}

.showTab {
    margin-left     : 10%;
    margin-right    : 10%;
    width           : 80%;
    background-color: red;
    color           : white;
    font-size       : 150%;
    display         : block;
    float           : left;
}

.divHead {
    width: 100%;
}

.youSend {
    margin-right: 40%;
    margin-left : 10%;
    color       : black;
}

.iSend {
    margin-left : 40%;
    margin-right: 10%;
    color       : white;
}

.allTabs {
    display: block;
}

.iSend,
.youSend {
    font-size  : 120%;
    margin-top : 10px;
    font-family: "Arial";
    display    : flex;
    align-items: center;
}

.messageTo {
    display        : flex;
    justify-content: center;
    align-items    : center;
    padding        : 20px;
}

.show_name_img_grp {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.messageTo img {
    border-radius: 50%;
}

.messageTo h1 {
    margin-left: 2%;
}

.containMsg {
    padding      : 20px;
    border-radius: 10px;
    width        : 90%;
}

.iSend .containMsg {
    margin-right: 5%;
}

.youSend .containMsg {
    margin-left: 5%;
}

.youSend .containMsg {
    background-color: white;
}

.iSend .containMsg {
    background-color: tomato;

}

.containImg {
    width: auto;
}

.iSend img,
.youSend img {
    width        : 50px;
    border-radius: 40px;
}

.divBody {
    float: left;
    width: 100%;
}

.divBody:hover {
    background-color: tomato;
}

.divBody {
    background-color: darkgrey;
}

.headElement {
    float     : left;
    width     : 33%;
    text-align: center;
    font-style: italic;
}

.bodyElement {
    width     : 33%;
    text-align: center;
    float     : left;
}

.writeMsg {
    position  : fixed;
    bottom    : 5px;
    width     : 100%;
    text-align: center;
}

.show_msg {
    margin-bottom: 5%;
}

.writeMsg form {
    box-shadow: 1px 1px 12px #555;
    display   : -webkit-inline-flex;
    width     : 90%;
    bottom    : 0;
}

.writeMsg .write {
    width: 90%;
    float: left;
}

.writeMsg .sub {
    width: 10%;
    float: left;
}

.login {
    background-color: tomato;
    padding         : 1%;
    margin-left     : 10%;
    margin-right    : 10%;
    margin-top      : 2%;
    text-align      : center;
}

h1 {
    font-family   : "Aladin";
    color         : white;
    text-align    : center;
    letter-spacing: 5px;
}